absl-py==1.4.0
asgiref==3.7.2
astunparse==1.6.3
cachetools==5.3.1
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cmake==3.27.2
colorama==0.4.6
cryptography==41.0.3
cssselect2==0.7.0
defusedxml==0.7.1
Django
django-cors-headers
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser
dlib-binary
face-recognition==1.3.0
face-recognition-models==0.3.0
flatbuffers==23.5.26
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.57.0
gunicorn==21.2.0
h5py
html5lib==1.1
idna==3.4
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
mtcnn==0.1.1
numpy
oauthlib
opt-einsum
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
PyJWT
pyphen
python-decouple
python3-openid
pytz
reportlab
requests
requests-oauthlib
rsa
six
social-auth-app-django
social-auth-core
sqlparse
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tinycss2
typing_extensions
tzdata
urllib3
WeasyPrint
webencodings
Werkzeug
wrapt
